apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "basyx-opcua-bridge.fullname" . }}
  labels:
    {{- include "basyx-opcua-bridge.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "basyx-opcua-bridge.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "basyx-opcua-bridge.selectorLabels" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "basyx-opcua-bridge.fullname" . }}
      {{- else if .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: bridge
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            {{- toYaml .Values.bridge.args | nindent 12 }}
          ports:
            - name: metrics
              containerPort: {{ .Values.service.port }}
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics
            initialDelaySeconds: 15
            periodSeconds: 20
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          {{- if and .Values.bridgeConfig.enabled }}
          volumeMounts:
            - name: bridge-config
              mountPath: {{ .Values.bridge.configMountPath }}
              subPath: bridge.yaml
          {{- end }}
      {{- if .Values.bridgeConfig.enabled }}
      volumes:
        - name: bridge-config
          configMap:
            name: {{ if .Values.bridgeConfig.existingConfigMap }}{{ .Values.bridgeConfig.existingConfigMap }}{{ else }}{{ include "basyx-opcua-bridge.fullname" . }}-config{{ end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
